{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Catalog</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newCatalog')}}">
				<button class="btn btn-default" id="new-item">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Items
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="container">
		<section class="row">
		    <div class="col-md-4">
				<h2>Categories</h2>
				{% for catalog in catalogs %}
					<a href = "{{url_for('showItem', catalog_name = catalog.name, catalog_id = catalog.id)}}">
						<div class="row">
								<div class="col-md-4 catalog-list">
									<h3>{{catalog.name}}</h3>
								</div>
						</div>
					</a>
				{% endfor %}
			</div>
			<div class="col-md-8">
				<h2>{{catalog_name}} Items ({{item_number}} items)</h2>
				{% for item in items %}
					<a href = "{{url_for('showItemDetails', catalog_name = item.catalog.name, item_name = item.name)}}">
						<div class="row">
								<div class="col-md-8 catalog-list">
									<h3>{{item.name}}</h3>
								</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
