{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Catalog</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newCatalog')}}">
				<button class="btn btn-default" id="new-item">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Items
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="container">
		<section class="row">
		    <div class="col-md-12">
				<a href = "{{url_for('editItem', catalog_name = catalog_name, item_name = item_name)}}">
					<h4>edit</h4>
				</a>
				<a href = "{{url_for('deleteItem', catalog_name = catalog_name, item_name = item_name)}}">
					<h4>delete</h4>
				</a>
				<h2>{{item_name}}</h2>
				<h3>{{item_description}}</h3>
			</div>
		</section>
	</div>
{% endblock %}
